/* *{

  margin: 0;;
  padding:0;
  box-sizing: border-box;
}

body{

width:1440px;
height:100vh;
background-color: darkturquoise;
margin:0 auto;

} */
@tailwind base;
@tailwind components;
@tailwind utilities;
